h1 {
    /* color: ; */
    /* font-weight: 200; */
  
  
 }
  
 body {
    background-color: beige;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 100;
    font-size: 22px;
 }
  
 #part1 {
    
    display:flex;
    justify-content: center;
    
 }
  
 h4 {
    text-align: left;
 

 }
  
 li {
    text-align: left;
 }

 
 
 